@import 'variables';
@import 'mixins';

.excel__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: $header-height;
  padding: 8px 4px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  & .excel__header__btn-group {
    display: flex;
    flex-direction: row;
    min-width: 30px;
  }

  & .input {
    margin: 0;
    padding: 10px 8px;
    color: rgb(66, 158, 233);
    background: rgb(53, 13, 56);
    border-radius: 20px;
    box-shadow: 3px 1px 8px 1px rgba(0, 0, 100, 0.5);
    border: 1px solid transparent;
    border-radius: 2px;
    height: 20px;
    font-size: 18px;
    line-height: 22px;
    outline: none;

    &:hover {
      border: 2px solid $border-color;
      color: rgb(194, 194, 40);
    }

    &:focus {
      color: yellow;
      border: 2px solid #1a73e8;
    }
  }

  .button {
    @include button(red);
  }
}
